
section
  h1 Build Improvements
  h2 Workflow for Newstalk and Methode
  h3 Questions
  h4 claudio.rdgz@gmail.com

section
  section
    h2 Module Loading
    h3 Module
    p Any of a number of distinct but interrelated units from which a program may be built up or into which a complex activity may be analyzed.
  section
    h2 The current state of Newstalk
    .container
      .row
        .col-xs-4
          img(id="newstalk-dependencies")
        .col-xs-8
          .left-align.
            We have several javascript files for a relatively small project in Newstalk,
            the problem with this approach is that We must document the scope of things.
          ul.left-list__padding
            li Does the file belong to the page?
            li Higher level?
            li Is it a module or some utility functions to use all around?
  section
    h2 Dependency Management
    .container
      .row
        .col-md-12
          img(id="newstalk-footer", style='max-width:750px;')
      .row
        .col-md-12
          p We don't know which Javascript file is using what without reading the whole code.
  section
    h2 Requests
    p Modules should be small because it is easier to pick up, extend, and find bugs in a small module.
    p But loading many modules through HTTP-Requests is slow.
    p Bundling modules reduces the amount of necessary HTTP-Requests to load our app.

include slides/slides-00-modules
include slides/slides-01-webpack
include slides/slides-02-testing

section
  section
    h2 Unit Testing the front end
    .smaller-font
      p.
        The front end is a weird monster, on one end it has massively less code than
        any respectable back end codebase.
      p.
        On another, as soon as you go 'out of the box' and start customizing things
        it grows exponentially.
      p.
        And in any given moment the look & feel will be outdated, and could start bleeding
        users.
  section
    h3 Front end != Back end
    p.
      A test on the backend it's simpler, We test if something came from an endpoint,
      if a Module is doing what it's doing, if the error checks are in place for something
      catastrophic to happen.
  section
    h3 Behaviors
    ul
      li Expanding/Collapsing an element
      li A callback being called
      li An svg icon changing it's color
      li Custom color or font
  section
    h3 Not testing
    ul
      li API results
      li Library functions
      li One function
      li A structure on HTML
  section
    h3 Frameworks
    ul
      li Test Framework
      li Test

include slides/slides-03-webcomponents
include slides/slides-04-process
